@use "../abstracts/variables" as v;
@use "../base/utilities" as u;

#hero {
  background-image: v.$linear-overlay, v.$hero-background;
  background-size: cover;
  background-position: center;
  min-height: 70vh;

  .container {
    padding-left: 5rem;
    h1 {
      color: white;
      font-size: v.$h1-font-size;
      font-weight: bold;
      text-transform: uppercase;
      text-wrap: unset;
      max-width: 1000px;
    }
    p {
      max-width: 1000px;
    }
  }
  .button-group {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
