@use "../abstracts/variables" as v;
@use "../base/utilities" as u;
@use "../abstracts/mixins" as m;

#pricing {
  margin-bottom: 90px;
  .container {
    margin-top: 2rem;
    h3 {
      color: v.$h3-color;
      font-size: v.$h3-font-size;
      font-weight: bold;
    }
    > p {
      max-width: 650px;
      color: v.$hotel-gray;
      padding-bottom: 1.5rem;
    }
  }
}
.plan-items {
  .plan-card-1 {
    @include m.plan-card (v.$hotel-yellow-color);
  }
  .plan-card-2 {
     @include m.plan-card (v.$badge-popular-color);
  }
  .plan-card-3 {
     @include m.plan-card (v.$hotel-yellow-color);
  }
}
