@use "../abstracts/variables" as v;
@use "../base/utilities" as u;
@use "../abstracts/mixins" as m;

#rooms {
  //   min-height: 70vh;
margin-bottom: 90px;
  .container {
    margin-top: 2rem;
    h3 {
      color: v.$h3-color;
      font-size: v.$h3-font-size;
      font-weight: bold;
    }
    > p {
      max-width: 650px;
      color: v.$hotel-gray;
      padding-bottom: 1.5rem;
    }
  }
}
.room-items {
  .room-card-1{
    @include m.room-card(v.$card1-background, v.$badge-popular-color);
  }
  .room-card-2{
    @include m.room-card(v.$card2-background, v.$badge-featured-color);
  }
  .room-card-3{
    @include m.room-card(v.$card3-background, v.$badge-luxury-color);
  }
  
  }

