@use "../abstracts/variables" as v;
@use "../base/utilities" as u;
@use "../abstracts/mixins" as m;

#team {
  margin-bottom: 90px;
  .container {
    margin-top: 2rem;
    h3 {
      color: v.$h3-color;
      font-size: v.$h3-font-size;
      font-weight: bold;
    }
    > p {
      max-width: 650px;
      color: v.$hotel-gray;
      padding-bottom: 1.5rem;
    }
  }
}
.team-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  @media (max-width: 1199.98px) and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767.98px) {
    grid-template-columns: minmax(auto, 350px);
    justify-content: center;
  }

  .team-person-1 {
    @include m.team-card(v.$img-person1);
    min-width: unset;
    max-width: none;
    width: 100%;
  }
  .team-person-2 {
    @include m.team-card(v.$img-person2);
    min-width: unset;
    max-width: none;
    width: 100%;
  }
  .team-person-3 {
    @include m.team-card(v.$img-person3);
    min-width: unset;
    max-width: none;
    width: 100%;
  }
  .team-person-4 {
    @include m.team-card(v.$img-person4);
    min-width: unset;
    max-width: none;
    width: 100%;
  }
}
