@use "../abstracts/variables" as v;
@use "../base/utilities" as u;
@use "../abstracts/mixins" as m;

#testimonials {
    background-image: v.$solid-overlay, v.$testimonials-background;
  background-size: cover;
  background-position: center;
  padding: 3rem 0 5rem 0;
  margin-bottom: 90px;
  .container {
    span {
      // color: white !important;
    }
    margin-top: 2rem;
    h3 {
      color: white;
      font-size: v.$h3-font-size;
      font-weight: bold;
    }
    > p {
      max-width: 650px;
      color: white;
      padding-bottom: 1.5rem;
    }
  }
}
.testimonials-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media (max-width: 767.98px) {
    grid-template-columns: 1fr;
  }

  .testimonials-card-1 {
    @include m.testimonials-card(v.$card1-background, v.$badge-popular-color);
    min-width: unset;
    max-width: none;
    width: 100%;
  }
}
