@use "../abstracts/variables" as v;
@use "../base/utilities" as u;
@use "../abstracts/mixins" as m;

#testimonials {
    background-image: v.$solid-overlay, v.$testimonials-background;
  background-size: cover;
  background-position: center;
  padding: 3rem 5rem 5rem 5rem;
  margin-bottom: 90px;
  .container {
    span {
      // color: white !important;
    }
    margin-top: 2rem;
    h3 {
      color: white;
      font-size: v.$h3-font-size;
      font-weight: bold;
    }
    > p {
      max-width: 650px;
      color: white;
      padding-bottom: 1.5rem;
    }
  }
}
.testimonials-items {
  .testimonials-card-1 {
    @include m.testimonials-card(v.$card1-background, v.$badge-popular-color);
  }

}
