# Local
memory/

# Dependencies
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/*
!.vscode/settings.json
.idea/

# SCSS source maps (isteğe bağlı, kaldırabilirsin)
# assets/css/*.map
