@use "../abstracts/variables" as v;

@mixin button($renk, $radius, $padding, $hover-renk) {
  background-color: $renk;
  border-radius: $radius;
  color: v.$button-yazi-renk;
  font-weight: bold;
  border: none;
  padding: $padding;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    background-color: $hover-renk;
  }
}

@mixin box-genel-gorunum($font-hizalama) {
  background-color: v.$box-arka-plan-renk;
  border-radius: v.$box-radius;
  box-shadow: v.$box-shadow;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  div.card-down {
    width: 100%;
    padding: v.$box-padding;
    text-align: $font-hizalama;
    h4 {
      font-weight: bold;
      color: v.$h3-color;
      font-size: v.$h4-font-size;
    }
    p {
      padding-top: 0.5rem;
    }
  }
}

@mixin room-card($background, $badge-rengi) {
  @include box-genel-gorunum(left);
  transition: all 0.3s ease;
  .card-up {
    display: flex;
    height: 250px;
    width: 100%;
    background-image: $background;
    background-size: cover;
    position: relative;
    .badge-top {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: $badge-rengi;
      color: white;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    .badge-bottom {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: white;
      color: black;
      padding: 10px 10px;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  .card-down {
    .stars {
      padding: 5px 0;
      i {
        color: v.$hotel-yellow-color;
        &::after {
          content: " ";
        }
      }
    }
    p {
      padding-bottom: 1rem;
    }
    .room-features {
      ul {
        display: flex;
        gap: 10px;
        padding: 0.5rem 0;
        li {
          display: flex;
          gap: 5px;
        }
      }
    }
  }
}
@mixin plan-card($top-color) {
  @include box-genel-gorunum(center);
  transition: all 0.5s ease;
  .card-up {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 50% 50%;
    width: 120px;
    height: 120px;
    background-color: $top-color;
    font-size: 2rem;
    color: v.$button-yazi-renk;
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .card-down {
    .price {
      font-family: "Cormorant Garamond", serif;
      font-size: 4rem;
      color: v.$h2-color;
      font-weight: bold;
    }
    .room-features {
      text-align: left;
      margin: 1.5rem 0;
      li {
        &::before {
          content: "✓";
          color: v.$hotel-yellow-color;
          margin-right: 1rem;
        }
      }
    }
  }
}
@mixin team-card($background) {
  @include box-genel-gorunum(left);
  .card-up {
    display: flex;
    height: 250px;
    width: 100%;
    background-image: $background;
    background-position: center;
    background-size: cover;
    position: relative;
    .social {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      opacity: 0;
      transform: translateY(20px);
      .social-1 {
        @include social(1rem);
      }
      .social-2 {
        @include social(4rem);
      }
      .social-3 {
        @include social(7rem);
      }
    }
  }
  &:hover {
    .social {
      opacity: 1;
      transform: translateY(0px);
    }
    cursor: pointer;
  }
  .card-down {
    h5 {
      color: v.$h3-color;
      font-size: v.$h5-font-size;
      font-weight: bold;
    }
  }
}
@mixin social($alt-deger) {
  background-color: v.$hotel-yellow-color;
  color: white;
  height: 38px;
  width: 38px;
  border-radius: 20px;
  font-size: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  bottom: $alt-deger;
  transition: background-color 0.3s ease;
  &:hover {
        background-color: v.$h2-color;
    }
}
