// backgrounds
$hero-background: url("../img/hero-bg.avif");
$counter-background: url("../img/counter-bg.avif");
$special-background: url("../img/special-bg.avif");
$card1-background: url("../img/card-bg1.avif");
$card2-background: url("../img/card-bg2.avif");
$card3-background: url("../img/card-bg3.avif");
$testimonials-background: url("../img/testimonials-bg.avif");

//img
$img-person1: url("../img/team1.avif");
$img-person2: url("../img/team2.avif");
$img-person3: url("../img/team3.avif");
$img-person4: url("../img/team4.avif");

$img-services1: url("../img/service1.avif");
$img-services2: url("../img/service2.avif");
$img-services3: url("../img/service3.avif");

$img-news1: url("../img/news1.avif");
$img-news2: url("../img/news2.avif");
$img-news3: url("../img/news3.avif");

// overlays/gradientler
$linear-overlay: linear-gradient(
  90deg,
  rgba(4, 22, 53, 0.88) 0%,
  rgba(6, 33, 76, 0.58) 38%,
  rgba(10, 27, 60, 0.2) 100%
);
$solid-overlay: linear-gradient(rgba(4, 22, 53, 0.7),rgba(4, 22, 53, 0.7));

// renkler
$hotel-yellow-color: #f4a300;
$hotel-yellow-hover-color: #d98d00;
$hotel-gray: #808493;
$hotel-gray-hover: #9397a2;
$bg-color: #f7f7f7;
$h2-color: #0b2b64;
$h3-color: #0b2b64;
$badge-popular-color: #24c184;
$badge-featured-color: #e74c3c;
$badge-luxury-color: #8e44ad;

// box
$box-arka-plan-renk: white;
$box-radius: 20px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-padding: 1.5rem;

//button
$button-yazi-renk: white;
$rounded-button-radius: 25px;
$square-button-radius: 10px;

//font büyüklükleri
$h1-font-size: 5rem;
$h2-font-size: 4rem;
$h3-font-size: 3rem;
$h4-font-size: 2rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;
