@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// butonlar
.btn-hotel-yellow-rounded {
  display: inline-block;
  @include m.button(v.$hotel-yellow, v.$rounded-button-radius, 0.7rem 1.5rem, v.$hotel-yellow-hover);
}
.btn-hotel-gray-rounded {
  display: inline-block;
  @include m.button(v.$hotel-gray, v.$rounded-button-radius, 0.7rem 1.5rem, v.$hotel-gray-hover);
}
.btn-hotel-yellow-square {
  display: inline-block;
  @include m.button(v.$hotel-yellow, v.$square-button-radius, 1.4rem 1.3rem, v.$hotel-yellow-hover);
}
