@use "../abstracts/variables";
@use "../base/utilities";

header {
  position: absolute;
  top: 0;
  width: 100%;

  nav {
    a {
      transition: all 0.3s ease;
      position: relative;
      &.active {
        color: variables.$hotel-yellow-hover-color;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: variables.$hotel-yellow-hover-color;
        transition: all 0.3s ease;
      }
      &:hover {
        color: variables.$hotel-yellow-hover-color;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
